################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsApplication2/bin/Debug
/WindowsFormsApplication2/obj/Debug
/.vs/JP_Test/v14/.suo
